body {
  font-family: 'Poppins', sans-serif;
  background: #f8f8fc;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: #EDF2F8;
}

#form-section {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

#producto-form input, #producto-form button {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background: #000000;
  color: white;
  border: none;
}

button:hover {
  background: #392fc1;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}
#img-producto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}