<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administración | Dulces La Tradición</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="../index/output.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
</head>

<body>
  <header class="header">
    <h1 class="logo">🍪 Dulces La Tradición</h1>
    <nav class="navigation">
      <a href="..//" class="nav-button">home</a>
    </nav>
  </header>

  <main style="padding:2rem;">
    <form id="producto-form">
      
      <h2>Agregar / Editar Producto</h2>
      <input type="hidden" id="producto-id">
      <input id="nombre" type="text" placeholder="Nombre del producto" required>
      <input id="descripcion" type="text" placeholder="Descripción">
      <input id="precio" type="number" placeholder="Precio" required>
      <input id="imagen" type="text" placeholder="URL de imagen" required>
      <button type="submit" class="btn">Guardar</button>
       <button type="button" id="cancelar-edicion" style="display:none;">Cancelar</button>
    </form>

    <section id="productos-section" style="margin-top:3rem;">
      <h2>Lista de Productos</h2>
      <table>
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="productos-body">
          <!-- <tr>
            <td><img src="../../img/alfajores.jpeg" alt="Alfajores"></td>
            <td>Alfajores</td>
            <td>$2.50</td>
            <td>Dulce tradicional argentino</td>
            <td><button class="btn">Editar</button> <button class="btn">Eliminar</button></td>
          </tr> -->
        </tbody>
      </table>
    </section>
  </main>

  <footer>
    <p>© 2025 Dulces La Tradición</p>
  </footer>

  <script src="index.js"></script>
  <script type="module" src="../components/notification.js"></script>
</body>
</html>
