<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Dulces La Tradición</title>
  <link rel="stylesheet" href="../styles/output.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  
  <header class="header">
    <h1 class="logo">🍪 Dulces La Tradición</h1>
    <nav class="navigation">
      <a href="..//" class="nav-button">home</a>
    
    </nav>
  </header>

  <main>
    <form id="form"> 
      <h2 style="text-align:center;">Iniciar Sesión</h2>
      <input  id="email-input" type="email" placeholder="Correo electrónico" required>
      <input  id="password-input" type="password" placeholder="Contraseña" required>
       
      <button class="btn" type="submit">Ingresar</button>
      <p style="text-align:center;">¿No tienes cuenta? <a href="../signup/">Regístrate aquí</a></p>
    </form>
  </main>

  <footer>
    <p>© 2025 Dulces La Tradición</p>
  </footer>

  <script src="index.js"></script>
  <script type="module" src="../components/notification.js"></script>
</body>
</html>
